
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^enblar\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.enblar\.net$
RewriteRule ^/?$ "https\:\/\/enblar\.net\/" [R=301,L]

